.tip-calculator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: .2rem;
    padding: .5rem;
}


.tip-calculator label {
    font-weight: bold;
}